In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data1=pd.read_csv(r'C:\Users\Microtech IT\Downloads\Sales_add.csv')

In [5]:
data1

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [6]:
data1.mean()

C:\Users\Microtech IT\AppData\Local\Temp\ipykernel_9580\1540025681.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data1.mean()

Sales_before_digital_add(in $)    149239.954545
Sales_After_digital_add(in $)     231123.727273
dtype: float64

In [9]:
import statistics as stat

In [10]:
stat.mean(data1['Sales_before_digital_add(in $)'])

149239.95454545456

In [11]:
stat.mean(data1['Sales_After_digital_add(in $)'])

231123.72727272726

In [12]:
stat.median(data1['Sales_before_digital_add(in $)'])

147444.0

In [13]:
stat.median(data1['Sales_After_digital_add(in $)'])

229986.5

In [14]:
stat.mode(data1['Sales_before_digital_add(in $)'])

132921

In [15]:
stat.mode(data1['Sales_After_digital_add(in $)'])

270390

##H0:There is no increase in sales after stepping into digital marketing
##H1:There is increase in sales after stepping into digital marketing

In [22]:
from statsmodels.stats.weightstats import ztest as ztest

In [26]:
z_stat1,p_val1 =  ztest(Sales_before_digital_add(in $),Sales_after_digital_add(in $),value=0)

SyntaxError: invalid syntax (3835569692.py, line 1)

In [18]:
p_val1

NameError: name 'p_value' is not defined